---

services:
  bind9:
    container_name: dns
    image: ubuntu/bind9:latest
    env_file:
      - .env
    volumes:
      - ./config:/etc/bind:rw
      - ./cache:/var/cache/bind:rw
      - ./records:/var/lib/bind:rw
      - ./logs:/var/log/bind:rw
    dns:
      - 1.1.1.1
    restart: always
    network_mode: host
    cap_add:
      - NET_BIND_SERVICE
    user: "0"
    healthcheck:
      test: ["CMD", "dig", "@127.0.0.1", "google.com"]
      interval: 90s
      timeout: 10s
      retries: 3
